body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: hotpink;
}
h1 {
    text-align:center;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size:50px;
    text-decoration: underline;
}
ul {
    align-self: center;
    font-size: 40px;
    text-decoration: none;
    color: hotpink;
}

a {
    text-decoration: none;
    color: deeppink;
}

p {
    font-size: 30px;
}

img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}